<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wycd.yushangpu">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- wx pay所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- pos特有权限 -->
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_LED" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_BEEP" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_RFREGISTER" />
    <uses-permission android:name="com.pos.permission.CARD_READER_ICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_PICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_MAG" />
    <uses-permission android:name="com.pos.permission.COMMUNICATION" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="com.usb.printer.USB_PERMISSION" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.LogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/LogoTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.BlueToothActivity" />

        <service android:name="net.posprinter.service.PosprinterService" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- SplashActivity --><!-- <activity -->
        <!-- android:name="com.wycd.yushangpu.ui.LoginActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait"/> -->
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- <intent-filter> -->
        <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" -->
        <!-- android:resource="@xml/device_filter"></meta-data> -->
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".ui.WebActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>